.personbanner{
    background-color: #bee295e5;
  
  }
  
.deathbanner{
    background-color: #e68686e5;
  
  }

.epbanner{
    background-color: #a5dffae5;
  
  }

.quotebanner{
    background-color: #dde7b0e5;
  
  }  