	<ion-tabs>
 
  <ion-tab-bar slot="bottom">
 
    <ion-tab-button tab="characters">
      <ion-icon name="person"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="death-count">
      <ion-icon name="Skull"></ion-icon>
      <ion-label>Death-Count</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="episodes">
      <ion-icon name="film"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Quotes">
      <ion-icon name="text"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
 
  </ion-tab-bar>
 
</ion-tabs>