<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" defaultHref="/tabs/(films:films)">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Death Count</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="unfavoriteFilm()" *ngIf="isFavorite">
        <ion-icon name="star" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
      <ion-button (click)="favoriteFilm()" *ngIf="!isFavorite">
        <ion-icon name="star-outline" slot="icon-only" color="secondary"></ion-icon>
      </ion-button>
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    There was an astonishing 
  <ion-list>
    <ion-item *ngFor="let deathcount of deathcount | async">
    <h2> {{ deathcount.deathCount }} </h2>
    </ion-item>
    Deaths in the series!! 

   
  </ion-list>
</ion-content>
