.item-content {
    background-color:#e93d3de5;
    font-size: 300%;
    margin: 10%;
  }
.centered{
  position: absolute;
  top: 20%;
  left: 30%;
  right: 50%;
  margin: 0 auto;
  margin-top: 0;
  margin-left: 0;
  font-size: 150%;
}
